.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 640px) {
    .sm\:press-start-2p-regular {
        font-family: "Press Start 2P", system-ui !important;
        font-weight: 400 !important;
        font-style: normal !important;
    }
}

@layer utilities {

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.react-icon-mobile {
    width: 10px;
    height: 10px;
}

@media (min-width: 640px) {
    .sm\:react-icon-sm {
        width: 15px;
        height: 15px;
    }
}


@media (min-width: 768px) {
    .md\:react-icon-md {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 1024px) {
    .lg\:react-icon-lg {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1280px) {
    .xl\:react-icon-xl {
        width: 30px;
        height: 30px;
    }
}


/* ! Updates Page -> Skill badges line  */
/* * will be used in the parent element only works for 2 elements */
.custom-column-line::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: black;
    transform: translateX(-50%);
}