@tailwind base;
@tailwind components;
@tailwind utilities;


/* ! CUSTOM SCROLLBAR */

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 2px;
    /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Transparent background */
}

::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.5);
    /* Light gray with transparency */
    border-radius: 10px;
    /* Rounded corners for a cleaner look */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(200, 200, 200, 0.7);
    /* Slightly darker on hover */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    /* Thin scrollbar */
    scrollbar-color: rgba(200, 200, 200, 0.5) transparent;
    /* Thumb color and transparent track */
}

/* Smooth scrolling */
.custom-scrollbar {
    scroll-behavior: smooth;
}